.header {
    width: 100%;
    height: 100px;
    background: #595352;
    color: #fefefe;
}

.header > h1 {
	margin: 0px;
	padding : 15px 0px 0px 45px;
	font-family: 'verdana','lato';
	font-weight : 100;
}
.header > p {
	margin: 0px;
	padding : 0px 0px 10px 45px;
	font-family: 'verdana','lato';
	font-weight : 100;
}